    body
    {
        font-family:Arial;
        margin: 0px;
        color: #444;
    }
	
a, img { outline: none; }
	
    .message {
        position: absolute;
        background-color: blue;
        color: white;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        font-family: Arial;
        font-size: 16px; 
        padding: 20px;
        display: none;    
    }
    .middlefield{
        color: rgb(0, 153, 255);
        font-size: 22px;
        width: 95%;
        min-width: 200px;
    }

    textarea.middlefield {
        font-size: 16px;
    }

    .largefield{
        color: rgb(0, 153, 255);
        font-size: 22px;
        width: 600px;
    }
    .largearea{
        color: rgb(0, 153, 255);
        font-size: 19px;
        width: 600px;
        height:300px;
        border:1px dashed black;
    }        
    
    a.menu {
        font-family:Arial;
        font-size:20px;
        color: #0099FF;
        min-width: 200px;
        text-decoration: none;
    }
    
    a.menu:hover {
        border-bottom:1px solid;
    }
    
    span.menu {
        font-family:Arial;
        font-size:20px;        
        min-width: 200px;
    }
    
    a.menu_red {
        font-family:Arial;
        font-size:20px;
        color: #DD4B39;
        min-width: 200px;
        text-decoration: none;
    }
    a.menu_red:hover {
        border-bottom: 1px solid;
    }
    
    span.menu_red {
        font-family:Arial;
        font-size:20px;        
        min-width: 200px;
        padding-right: 5px;
        padding-left: 5px;
    }    
    
    h1
    {
        color: #0099FF;
        font-size:18px;
        font-weight: normal;
    }

    h1 a
    {
        color: #0099FF;
        font-size:18px;
        font-weight: normal;
    }

        h2
    {
        color: #0099FF;
        font-size:18px;
        font-weight: normal;
    }

    div.coverable
    {
        padding: 20px;
        color: #0099FF;
        font-size:18px;
        border-bottom:1px solid #EEEEEE;
    }
    
    div.coverable a
    {
        color: #0099FF;
        font-size:18px;
    }
    
    div.coverable a.grayred
    {
        color: #afafaf;
        font-size:18px;
    }    
    
    div.coverable:hover
    {
        background-color: #f6f6f6;
    }
    
    div.coverable a.grayred:hover
    {
        color: #ff0e0e;
    }

    a {
        font-family:Arial;
        font-size:16px;
        color: #0099FF;
    }
    
    .button {
        margin-right: 12px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        padding: 8px;
        font-size: 16px;
        color: white;
    }
    
    .yes {
        background-color: green;
    }
    
    .no {
        background-color: #FF0000;
    }
    
    .skip {
        background-color: #999999;
    }
    .question {
        font-size: 16pt;
    }        
    .underline {
        border-bottom: 1px solid #AAAAAA;
    }

    table.strategyTable td {
        font-size: 18px;
    }

    table.strategyTable td a.action {
        border-bottom: 1px dotted;
        font-size: 16px;
        text-decoration: none;
    }
    .light {
        padding: 10px !important;
        cursor: pointer;
    }
    #keyslist td {
        cursor: pointer;
    }
    #activelist a {
        display:none;
    }
    #activelist li:hover a {
        display:inline;
    }

    .pItem{
        color: #0099FF;
        font-size: 16px;
        border-bottom: 1px dashed;
    }
    
    .handsomeButton {
    	background-color: #505050;
    	-webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
    	border-radius: 3px;
    	color: #FFF;
    	font: 12px Arial, Helvetica, sans-serif;
    	padding: 8px 15px;
    	text-align: center;
    	width: 100%;
        cursor:pointer;
        text-decoration:none;
        line-height: 35px;
        margin-top:10px;
    }
    
    .handsomeButton:hover {
    	background-color: #909090;
    	color: #FFF;
    }
    
    div#msg {
       font-size:16px;
       color:white;
       background-color:red;
       padding:20px;
       border:1px solid red;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       border-radius: 10px;       
       display:none; 
    }        
    
    span.divider {
        background: url('/divider.png') center center no-repeat;
        padding: 5px 15px;
    }
    
    .leftMenu ul {
        list-style: none outside none;
        margin-right: 0px;
        padding-bottom: 0;
        padding-left: 0;        
    }
	
    .leftMenu ul li {
        background: url("/public/post.png") no-repeat scroll 0 0 transparent;
        margin: 0;
        min-height: 60px;
        padding-right:20px;
        padding-top:40px;
        cursor: pointer;
    }
    
    
    
    .leftMenu ul li:hover {
        background: url("/public/post-hover.png") repeat scroll 0 0 transparent;
    }    
    .leftMenu ul li.selected {
        background: url("/public/post-hover.png") repeat scroll 0 0 transparent;
        cursor: auto;
    }
	
    .hourclock {
		background: url("/public/clock.png") no-repeat scroll 0 0 transparent;
		cursor: pointer;
		float: right;
		height: 26px;
		width: 26px;
		opacity: 0.3;
    }
	
    .hourclock.active {
		opacity: 1;
    }	