<tr bgcolor="#F1F1F1">
    <td colspan="2" style="height:30px;padding-left:20px;border-top:1px solid #E5D5D5;">
        <a href="/lang/"><!--{T:change_lang}--> &rarr;</a>
    </td>
    <td colspan="2" align="right" style="padding-right:20px;border-top:1px solid #E5D5D5;"> 
  &copy; <a href="http://chrl.ru/"><!--{T:author}--></a>, 2011-2013
<!--{P:footer}-->