<!--{P:header}-->
<!--{P:menu}-->
<table width="100%" height="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
        <div style="width: 900px; margin-left:20px;text-align:left;background-color:#F8F8F8;border:1px solid #E5E5E5;padding:20px;border-radius:10px;">
        <table style="margin-top:0px;" cellspacing="10" id="projectsettingsform">
            <tr>
                <td colspan="2" style="font-size:15px;padding-top:0px;padding-bottom:20px;" id="directaccessform">
                <input type="hidden" id="form_project" value="<!--{L:project_id}-->" />
                <h2>Яндекс.API</h2>
                Если у Вас есть Яндекс.Метрика или Яндекс.Директ, предоставив доступ к API Вы сушественно облегчите задачу для Mushspider и для себя &mdash; Вы сможете импортировать списки фраз из рекламных кампаний Директа или отчетов метрики, и даже автоматически управлять рекламными кампаниями.
                <br /><br />
                <!--{L:tokeninfo}--> 
                </td>
            </tr>
            <tr>
            <td colspan="2">
            <div id="msg" style="margin-bottom:20px;">

            </div>
            </td>
            </tr>
        </table>
        </div>
        </td>
    </tr>
</table>
<!--{P:bottom}-->