<!--{P:header}-->
<!--{P:menu}-->
<table width="100%" height="100%" cellspacing="0" cellpadding="0">
<tr>
    <td class="leftMenu" align="right" valign="top" style="width:219px;">
        <!--{D:leftmenu}-->
    </td>
    <td style="padding-left: 20px;" valign="top">
        <!--{L:text}-->
    </td>
</tr>
</table>
<script>
$(document).ready(function(){
   $('.leftMenu ul li[linked]').click(function(){
        top.location = '/projects/<!--{L:project_id}-->/'+$(this).attr('linked')+'/';
   }); 
});
</script>
<!--{P:bottom}-->