<!--{P:header}-->
<!--{P:menu}-->
<table width="100%" height="100%"><tr><td align="center">
			<a href="/lang/ru/">Русский</a>, <a href="/lang/en/">English</a>, <a href="/lang/de/">Deutsch</a> или <a href="/lang/fr/">Francais</a>? 
</td></tr></table>
<!--{P:bottom}-->