Здравствуйте, <!--{L:name}-->.<br /><br />

Мы рады приветствовать Вас на <a href="<!--{L:domain}-->"><!--{L:sitename}--></a>!<br /><br />

Ваша регистрация прошла успешно. Для подтверждения регистрации, пожалуйста, пройдите по ссылке<br /> 
<a href="<!--{L:verifyLink}-->"><!--{L:verifyLink}--></a><br /><br /> 

Сохраните это письмо на случай, если Вы забудете Ваши регистрационные данные.<br />
<span style="background-color:#DDDDDD;">
Логин: <!--{L:name}--><br />
E-Mail: <!--{L:mail}--><br />
Пароль: <!--{L:pass}--></span><br />

<hr />
С уважением, команда <a href="<!--{L:domain}-->"><!--{L:sitename}--></a>.