<!--{P:header}-->
<table width="100%" height="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table id="loginform">
                <tr><td align="center" style="color: rgb(0, 153, 255); font-size: 22px;"><img src="/mushspider.png"/><br /><br />
                Service is closed for maintainance. Please try again later.
                </td></tr>
                <tr><td>
                    <div id="msg" style="font-size:16px;color:red;padding:20px;border:1px solid red;display:none;">
                    </div>
                </td></tr>
            </table>
        </td>
    </tr>
</table>
<!--{P:bottom}-->