<!--{P:header}-->
<!--{P:menu}-->
<table width="100%" height="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
        <table style="margin-top:20px;" cellspacing="10" id="newuserform">
            <tr><td>Логин пользователя</td><td><input id="form_login" class="middlefield" type="text" /></td></tr>
            <tr><td>E-Mail</td><td><input id="form_mail" class="middlefield" type="text" /></td></tr>
            <tr><td>Пароль</td><td><input id="form_pass" class="middlefield" type="text" /></td></tr>
            <tr>
            <td colspan="2">
            <div id="msg" style="font-size:16px;color:red;padding:20px;border:1px solid red;display:none;">

            </div>
            </td>
            </tr>
            <tr>
                <td colspan="2"><a href="#" id="userform_submit" onclick="catcher('newuserform');return false;"><!--{t:_register_go_on}--></a></td>
            </tr>
        </table>

        </td>
    </tr>
</table>
<!--{P:bottom}-->