<!--{P:header}-->
<!--{P:menu}-->
<div id="chart_container_box" style="display:none;padding:10px;width:800px;height:420px;position:absolute;left:50%;margin-left:-400px;border: 1px solid black;background-color:white;">
    <div id="chart_container">
    </div>
    <a href="#" onclick="$('#chart_container_box').fadeOut('fast');return false;">Закрыть</a>
</div>
<!--{L:text}-->
<!--{P:bottom}-->