<table width="100%" height="100%">
<tr>
    <td style="height:50px;padding-left:20px;">
        <!--{D:usermenu}-->
    </td>
    <td align="right" style="padding-right:20px;"> 
        <span class="menu"><!--{L:username}--></span> | <a href="/logout/" class="menu">Выход</a>
    </td>
</tr>
<tr>
<td colspan="2" style="height:100px;padding:10px;border-top:1px solid gray;border-bottom:1px solid gray;" valign="top">