<html>
	<head>
		<style>
			* {
				font-family: Arial;
			}
			table#snippets {
				background-color:#black;
			}
		</style>
	</head>
	<body onload="print();">
	<h2>Позиции сайта &laquo;<!--{L:sitename}-->&raquo;</h2>	
	
	<b>Проект: </b><!--{L:project_name}--><br />
	<b>Сегмент: </b><!--{L:segment}--><br />
	<b>Регион: </b><!--{L:region}--><br />
	<b>Дата съема позиций: </b><!--{L:date}--><br />
	
	<br />
	<br />
	<table id="snippets" cellpadding="10" border="1">
	<!--{L:text}-->
	</table>
	</body>
</html>