<!--{P:header}-->
<!--{P:menu}-->
<table width="100%" height="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
        <div style="margin-left:50px;margin-right:50px;text-align:left;background-color:#F8F8F8;border:1px solid #E5E5E5;padding:20px;border-radius:10px;">
        <table id="snippets" cellpadding="10">
			<!--{L:text}-->
	</table>		
        </div>
        </td>
    </tr>
</table>
<!--{P:bottom}-->