<div class="navbar-collapse nav-main-collapse collapse">
    <div class="container">
        <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main" id="mainMenu">
                <!--{D:sitemenu}-->
                <!--{D:userinfo}-->
            </ul>    
        </nav>
    </div>
</div>