<table width="100%" height="100%" cellspacing="0" cellpadding="0">
<tr bgcolor="#F1F1F1">
    <td style="height:70px;width:300px;">
            <img src="/mushspider_tiny.png" style="cursor:pointer;" border="0" onclick="top.location='/';"/>
    </td>
    <td style="width:20px;">
        <span class="menu">&rarr;</span>
    </td>
    <td>
        <!--{L:usermenu}-->
    </td>
    <td align="right" style="padding-right:20px;"> 

    </td>
</tr>
<tr>
<td colspan="4" style="padding:20px;border-top:1px solid #E5D5D5;" valign="top">