<!--{P:header}-->
<!--{P:unreg_menu}-->
<table width="100%" height="100%" cellpadding="0" cellspacing="10">
    <tr>
        <td valign="top" align="center">
            <div style="width:600px;margin-left:20px;text-align:left;background-color:#F8F8F8;border:1px solid #E5E5E5;padding:20px;border-radius:10px;">
            <!--{L:text}-->
            </div>
            <br /><br />
        </td>
    </tr>
</table>
<!--{P:bottom}-->